/* adminHome.css */

.admin-container {
    width: 80%;
    max-width: 750px;
    margin: 3rem auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.admin-container h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 1rem;
}

.admin-container p {
    font-size: 18px;
    color: #666;
}
