
.footer {
    background-color: #333;
    color:#FFA500;
    padding: 2rem 1rem;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

.footer-section {
    flex: 1;
    min-width: 200px;
}

.footer-section h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 0.5rem;
}

.footer-section ul li a {
    text-decoration: none;
    color: #FFA500;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #ffa500;
}

.footer-bottom {
    margin-top: 2rem;
    font-size: 0.875rem;
    color: #FFA500
}