.manage-users {
    padding: 20px;
}

.manage-users h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.manage-users ul {
    list-style: none;
    padding: 0;
}

.manage-users li {
    background-color: #ffffff;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}




.user-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}

.user-table th, .user-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.user-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.delete-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #d32f2f;
}
